In [180]:

import pandas as pd
import seaborn as sns 
from pandas import DataFrame
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder
import numpy as np
import plotly
import statistics
import plotly.express as px
import stats
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.cluster import KMeans
from sklearn.metrics import r2_score
import plotly.express as px
import datetime
import datetime as dt
import time

cmap = sns.diverging_palette(220, 15, as_cmap=True)


# Supress Scientific notation in python
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Display all columns of long dataframe
pd.set_option('display.max_columns', None)

# Load data

In [181]:
#open file
brd='BRD.csv'
df=pd.read_csv(brd)
print(df.head(3))

   Euro_value      Date    Turnover_ron   Turnover_euro   Max_ron  Max_euro
0        4.23  1/1/2019   12,188,487.90    2,881,439.22     13.12      3.10
1         nan  1/2/2019   12,188,487.90    2,881,439.22     13.12      3.10
2         nan  1/3/2019      902,942.50      213,461.58     13.36      3.16

# remove euro col

In 2019 euro vas 4.23.

In [182]:
df=df.drop('Euro_value', axis='columns')
print(df.head(3))

       Date    Turnover_ron   Turnover_euro   Max_ron  Max_euro
0  1/1/2019   12,188,487.90    2,881,439.22     13.12      3.10
1  1/2/2019   12,188,487.90    2,881,439.22     13.12      3.10
2  1/3/2019      902,942.50      213,461.58     13.36      3.16

# Parse date time series

In [183]:
#parse index
df['Date']=pd.to_datetime(df['Date'], infer_datetime_format=True)
indexeddf=df.set_index(['Date'])
#print(indexeddf)

#parsing to time format and extracting dates 
x=df['Date']=pd.to_datetime(df['Date'], format='%d-%m-%y')

Day=df['Date'].dt.day_name()
Month=df['Date'].dt.month_name()
Year=df['Date'].dt.year

#subset
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month
df['Day']=df['Date'].dt.day
#print(df)

# passing the variables

In [184]:
shares_out=696901518
BRD_FreeFloat=0.3

#number of days for each month
Jan_days=20
Feb_days=19
March_days=22
April_days=19
May_days=21
June_days=20
Jul_days=22
Aug_days=22
Sep_days=21
Oct_days=23
Nov_days=21
Dec_days=19

#last prices in months

last_jan=3.21
last_feb=3.33
last_mar=3.57
last_apr=3.66
last_may=2.96
last_jun=3.10
last_jul=3.38
last_aug=3.36
last_sep=3.22
last_oct=3.12
last_nov=3.32
last_dec=2.72

# Formulae

#FF Market Cap == calculeaza folosind ultimul pret din luna respectiva in USD * Numarul de actiuni * 0.3 (FF) FAZA 1                    
#Median Traded Value == mediana valorilor tranzactionate dintr-o luna.FAZA 2                                                     
#Monthly Median Traded Value == Median Traded Value (USD) * numarul de zile tranzactionate din luna respective FAZA3               
#MTVR == Monthly Median Traded Value / FF Market Cap FAZA 4

# FF Market Cap for each month

In [185]:
FF_Mkt_Cap=last_jan*shares_out*BRD_FreeFloat
FF_Mkt_Cap_2=last_feb*shares_out*BRD_FreeFloat
FF_Mkt_Cap_3=last_mar*shares_out*BRD_FreeFloat
FF_Mkt_Cap_4=last_apr*shares_out*BRD_FreeFloat
FF_Mkt_Cap_5=last_may*shares_out*BRD_FreeFloat
FF_Mkt_Cap_6=last_jun*shares_out*BRD_FreeFloat
FF_Mkt_Cap_7=last_jul*shares_out*BRD_FreeFloat
FF_Mkt_Cap_8=last_aug*shares_out*BRD_FreeFloat
FF_Mkt_Cap_9=last_sep*shares_out*BRD_FreeFloat
FF_Mkt_Cap_10=last_oct*shares_out*BRD_FreeFloat
FF_Mkt_Cap_11=last_nov*shares_out*BRD_FreeFloat
FF_Mkt_Cap_12=last_dec*shares_out*BRD_FreeFloat

In [186]:
a=round(FF_Mkt_Cap_11)

In [187]:
a

694113912

# Median_traded_value for each month

In [188]:
Median_traded_value=1167800.56
Median_traded_value2=1120879.39
Median_traded_value3=1012924.70
Median_traded_value4=8889211.32
Median_traded_value5=787451.27
Median_traded_value6=1066475.36
Median_traded_value7=589997.17
Median_traded_value8=500793.34
Median_traded_value9=1162866.76
Median_traded_value10=404043.04
Median_traded_value11=385335.83
Median_traded_value12=1162880.49

# Monthly median traded value

In [189]:
monthly_median_traded_value=Median_traded_value*Jan_days 
monthly_median_traded_value2=Median_traded_value2*Feb_days
monthly_median_traded_value3=Median_traded_value3*March_days
monthly_median_traded_value4=Median_traded_value4*April_days
monthly_median_traded_value5=Median_traded_value5*May_days
monthly_median_traded_value6=Median_traded_value6*June_days
monthly_median_traded_value7=Median_traded_value7*Jul_days
monthly_median_traded_value8=Median_traded_value8*Aug_days
monthly_median_traded_value9=Median_traded_value9*Sep_days
monthly_median_traded_value10=Median_traded_value10*Oct_days
monthly_median_traded_value11=Median_traded_value11*Nov_days
monthly_median_traded_value12=Median_traded_value12*Dec_days

# MTVR AS % for 12 months

In [190]:
mtvr=FF_Mkt_Cap/monthly_median_traded_value
mtvr2=FF_Mkt_Cap/monthly_median_traded_value2
mtvr3=FF_Mkt_Cap/monthly_median_traded_value3
mtvr4=FF_Mkt_Cap/monthly_median_traded_value4
mtvr5=FF_Mkt_Cap/monthly_median_traded_value5
mtvr6=FF_Mkt_Cap/monthly_median_traded_value6
mtvr7=FF_Mkt_Cap/monthly_median_traded_value7
mtvr8=FF_Mkt_Cap/monthly_median_traded_value8
mtvr9=FF_Mkt_Cap/monthly_median_traded_value9
mtvr10=FF_Mkt_Cap/monthly_median_traded_value10
mtvr11=FF_Mkt_Cap/monthly_median_traded_value11
mtvr12=FF_Mkt_Cap/monthly_median_traded_value12

# Average MTVRs

In [191]:
Addmtvrs_sum=mtvr+mtvr2+mtvr3+mtvr4+mtvr5+mtvr6+mtvr7+mtvr8+mtvr9+mtvr10+mtvr11+mtvr12
ATVR12M=Addmtvrs_sum/12

# ATVR12M

In [192]:
ATVR12M=Addmtvrs_sum/12
print(ATVR12M)

41.00099003240495

In [193]:
ATVR=ATVR12M*12
print(ATVR)

492.01188038885937