In [5]:
import pandas as pd
import seaborn as sns 
from pandas import DataFrame
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder
import numpy as np
import plotly
import statistics
import plotly.express as px
import stats
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.cluster import KMeans
from sklearn.metrics import r2_score
import plotly.express as px
import datetime
import datetime as dt
import time
import django.template.backends.jinja2

In [9]:
c='Cyber Security Breaches.csv'
df=pd.read_csv(c)
print(df)

      Unnamed: 0  Number                             Name_of_Covered_Entity  \
0              1       0                         Brooke Army Medical Center
1              2       1          Mid America Kidney Stone Association, LLC
2              3       2    Alaska Department of Health and Social Services
3              4       3  Health Services for Children with Special Need...
4              5       4                           L. Douglas Carlson, M.D.
...          ...     ...                                                ...
1050        1051    1050                      Puerto Rico Health Insurance
1051        1052    1051                       Hospitalists of Brandon, LLC
1052        1053    1052                      Santa Rosa Memorial Hospital
1053        1054    1053         Group Health Plan of Hurley Medical Center
1054        1055    1054                            Abrham Tekola, M.D.,INC

     State          Business_Associate_Involved  Individuals_Affected  \
0       TX                                  NaN                  1000
1       MO                                  NaN                  1000
2       AK                                  NaN                   501
3       DC                                  NaN                  3800
4       CA                                  NaN                  5257
...    ...                                  ...                   ...
1050    PR                  American Health Inc                 28413
1051    FL  Doctors First Choice Billings, Inc.                  1831
1052    CA                                  NaN                 33702
1053    MI                                  NaN                  2289
1054    CA                                  NaN                  5471

     Date_of_Breach                  Type_of_Breach  \
0        10/16/2009                           Theft
1         9/22/2009                           Theft
2        10/12/2009                           Theft
3         10/9/2009                            Loss
4         9/27/2009                           Theft
...             ...                             ...
1050      9/20/2013                           Theft
1051      2/11/2014             Hacking/IT Incident
1052       6/2/2014                     Theft, Loss
1053      5/13/2014  Unauthorized Access/Disclosure
1054      5/27/2014                           Theft

             Location_of_Breached_Information Date_Posted_or_Updated  \
0                                       Paper             2014-06-30
1                              Network Server             2014-05-30
2     Other Portable Electronic Device, Other             2014-01-23
3                                      Laptop             2014-01-23
4                            Desktop Computer             2014-01-23
...                                       ...                    ...
1050                                    Other             2014-06-27
1051                                    Other             2014-06-27
1052         Other Portable Electronic Device             2014-06-27
1053                                   E-mail             2014-06-27
1054                         Desktop Computer             2014-06-27

                                                Summary breach_start  \
0     A binder containing the protected health infor...   2009-10-16
1     Five desktop computers containing unencrypted ...   2009-09-22
2                                                   NaN   2009-10-12
3     A laptop was lost by an employee while in tran...   2009-10-09
4     A shared Computer that was used for backup was...   2009-09-27
...                                                 ...          ...
1050                                                NaN   2013-09-20
1051                                                NaN   2014-02-11
1052                                                NaN   2014-06-02
1053                                                NaN   2014-05-13
1054                                                NaN   2014-05-27

     breach_end  year
0           NaN  2009
1           NaN  2009
2           NaN  2009
3           NaN  2009
4           NaN  2009
...         ...   ...
1050        NaN  2013
1051        NaN  2014
1052        NaN  2014
1053        NaN  2014
1054        NaN  2014

[1055 rows x 14 columns]

In [12]:
cols = ['Type_of_Breach','Summary','State','Individuals_Affected','Name_of_Covered_Entity'
        ,'Location_of_Breached_Information','year','Date_Posted_or_Updated']

In [13]:
year_order = df['year'].value_counts().index
state_order = df['State'].value_counts().index
attack_order = df['Type_of_Breach'].value_counts().index

In [14]:
df = df[cols].reset_index(drop=True)
df =df.loc[df['year']>2006]
df =df.loc[df['State'].isin(state_order[:20])]
# breaches = df.Type_of_Breach.value_counts()[:6].index
df = df.loc[df['Type_of_Breach'].isin(attack_order[:6])]
df['Summary'] = df['Summary'].fillna('No Summary')

In [18]:
df.shape

(718, 8)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Type_of_Breach                    718 non-null    object
 1   Summary                           718 non-null    object
 2   State                             718 non-null    object
 3   Individuals_Affected              718 non-null    int64
 4   Name_of_Covered_Entity            718 non-null    object
 5   Location_of_Breached_Information  718 non-null    object
 6   year                              718 non-null    int64
 7   Date_Posted_or_Updated            718 non-null    object
dtypes: int64(2), object(6)
memory usage: 49.7+ KB

In [20]:
df.describe()

       Individuals_Affected         year
count          7.180000e+02   718.000000
mean           2.691706e+04  2011.518106
std            1.880920e+05     1.387966
min            5.000000e+02  2007.000000
25%            1.000000e+03  2010.000000
50%            2.262500e+03  2012.000000
75%            6.658750e+03  2013.000000
max            4.029530e+06  2014.000000

Which year has the highest number of attacks?
What is the most common cyber-attack?
What is the most reported cyber-attack state?