In [1]:
import pandas as pd
import seaborn as sns 
from pandas import DataFrame
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import LabelEncoder
import numpy as np
import plotly
import statistics
import plotly.express as px
import stats
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import plotly.express as px
import datetime

In [2]:
#open file

k=pd.read_csv('kasall.csv')
print(k.columns)
kas=DataFrame(k.head(80))
print(kas.head(80))

Index(['Date', 'County', 'Pib', 'Nrfirme', 'AvgSalariatiPers',
       'BiblioteciTotal', 'PersonalAngajatInBiblioteci',
       'CitioriActiviInBiblioteci', 'Cinematografe', 'Locuriincinematografe',
       'SpectatorilaReprezentatii ', 'MuzeeSiColectii ', 'SportiviLegitimati',
       'ValoareSalariuMediu', 'ValoareSalariu   '],
      dtype='object')
          Date  County      Pib  Nrfirme  AvgSalariatiPers  BiblioteciTotal  \
0   2007-12-30  Brasov    13946    19143            163788              227
1   2008-12-30  Brasov    16857    20287            169429              216
2   2009-12-30  Brasov    17560    19626            150855              231
3   2010-12-30  Brasov    17586    17617            145465              218
4   2011-12-30  Brasov    17674    16209            145274              202
..         ...     ...      ...      ...               ...              ...
68  2014-12-30   Ilfov  16957,2    17490            108343              112
69  2015-12-30   Ilfov  17181,5    19363            116023              105
70  2016-12-30   Ilfov  19132,2    21001            128107              100
71  2017-12-30   Ilfov  20501,6    23356            137941              101
72  2018-12-30   Ilfov        0        0            167718               99

    PersonalAngajatInBiblioteci  CitioriActiviInBiblioteci  Cinematografe  \
0                             0                     149621              2
1                             0                     138696              2
2                             0                     137050              2
3                             0                     124061              2
4                           191                     102950              1
..                          ...                        ...            ...
68                           49                      24122              0
69                          667                      22901              0
70                          723                      22763              0
71                          758                      23578              0
72                          813                      22555              0

    Locuriincinematografe  SpectatorilaReprezentatii   MuzeeSiColectii   \
0                     423                       84416              5527
1                     423                      112877              8187
2                     423                      136824              8286
3                     343                      120247              8598
4                     243                      125827              8693
..                    ...                         ...               ...
68                      0                       37820              3978
69                      0                       37820              4520
70                      0                       52800              4948
71                      0                       47700              6078
72                      0                       26400                 0

    SportiviLegitimati  ValoareSalariuMediu  ValoareSalariu
0                   20                 1320                984
1                   20                 1639               1226
2                   21                 1788               1323
3                   22                 1777               1304
4                   22                 1898               1385
..                 ...                  ...                ...
68                   7                 2874               2087
69                   7                 3134               2267
70                   7                 3275               2380
71                   7                 3602               2610
72                   0                 4765               2871

[73 rows x 15 columns]

Parse timeseries

In [4]:
kas['Date']=pd.to_datetime(kas['Date'], infer_datetime_format=True)
indexeddf=kas.set_index(['Date'])

Parsing to time format and extracting dates with 'Date'

In [5]:
x=kas['Date']=pd.to_datetime(kas['Date'], format='%y-%m-%d')

Day=kas['Date'].dt.day_name()
print(Day)

Month=kas['Date'].dt.month_name()
print(Month)

Year=kas['Date'].dt.year
print(Year)

0        Sunday
1       Tuesday
2     Wednesday
3      Thursday
4        Friday
        ...
68      Tuesday
69    Wednesday
70       Friday
71     Saturday
72       Sunday
Name: Date, Length: 73, dtype: object
0     December
1     December
2     December
3     December
4     December
        ...
68    December
69    December
70    December
71    December
72    December
Name: Date, Length: 73, dtype: object
0     2007
1     2008
2     2009
3     2010
4     2011
      ...
68    2014
69    2015
70    2016
71    2017
72    2018
Name: Date, Length: 73, dtype: int64

Subset time series

In [6]:
kas['Year']=kas['Date'].dt.year
kas['Month']=kas['Date'].dt.month_name()
kas['Day']=kas['Date'].dt.day_name()
print(kas.head(80))

         Date  County      Pib  Nrfirme  AvgSalariatiPers  BiblioteciTotal  \
0  2007-12-30  Brasov    13946    19143            163788              227
1  2008-12-30  Brasov    16857    20287            169429              216
2  2009-12-30  Brasov    17560    19626            150855              231
3  2010-12-30  Brasov    17586    17617            145465              218
4  2011-12-30  Brasov    17674    16209            145274              202
..        ...     ...      ...      ...               ...              ...
68 2014-12-30   Ilfov  16957,2    17490            108343              112
69 2015-12-30   Ilfov  17181,5    19363            116023              105
70 2016-12-30   Ilfov  19132,2    21001            128107              100
71 2017-12-30   Ilfov  20501,6    23356            137941              101
72 2018-12-30   Ilfov        0        0            167718               99

    PersonalAngajatInBiblioteci  CitioriActiviInBiblioteci  Cinematografe  \
0                             0                     149621              2
1                             0                     138696              2
2                             0                     137050              2
3                             0                     124061              2
4                           191                     102950              1
..                          ...                        ...            ...
68                           49                      24122              0
69                          667                      22901              0
70                          723                      22763              0
71                          758                      23578              0
72                          813                      22555              0

    Locuriincinematografe  SpectatorilaReprezentatii   MuzeeSiColectii   \
0                     423                       84416              5527
1                     423                      112877              8187
2                     423                      136824              8286
3                     343                      120247              8598
4                     243                      125827              8693
..                    ...                         ...               ...
68                      0                       37820              3978
69                      0                       37820              4520
70                      0                       52800              4948
71                      0                       47700              6078
72                      0                       26400                 0

    SportiviLegitimati  ValoareSalariuMediu  ValoareSalariu     Year  \
0                   20                 1320                984  2007
1                   20                 1639               1226  2008
2                   21                 1788               1323  2009
3                   22                 1777               1304  2010
4                   22                 1898               1385  2011
..                 ...                  ...                ...   ...
68                   7                 2874               2087  2014
69                   7                 3134               2267  2015
70                   7                 3275               2380  2016
71                   7                 3602               2610  2017
72                   0                 4765               2871  2018

       Month        Day
0   December     Sunday
1   December    Tuesday
2   December  Wednesday
3   December   Thursday
4   December     Friday
..       ...        ...
68  December    Tuesday
69  December  Wednesday
70  December     Friday
71  December   Saturday
72  December     Sunday

[73 rows x 18 columns]

Normalize data